.FirstDiv{
    background-color: #64A8FF;
    height: 90px;
   
}
.body{
    margin: 5px;

}
.Parent{
    
    /* border: white 2px solid; */
    border: 10px solid black;
    /* border-style: double; */
    
}
.SeconDiv{
    height: 80px;
    display: flex;
    flex-direction: row;
    
    
}
.orange{
    background-color: #E87A44;
    /* height: 50px; */
    /* width: 25%; */
    flex-grow: 1;
    
    
}
.brown{
    background-color: #784100;
    /* height: 50px; */
    /* width: 25%; */
    flex-grow: 1;
}
.pink{
    background-color: #FF7498;
    /* height: 50px; */
    /* width: 25%; */
    flex-grow: 1;
}
.purple{
    background-color: #5B5AB2;
    /* height: 50px; */
    /* width: 25%; */
    flex-grow: 1;
}

.ThirDiv{
    display: flex;
    flex-direction: row;
    position: relative;

}
.black{
    background-color: #121212;
    height: 400px;
    width: 950px;
    display: flex;
    justify-content: center; 
    align-items: center;

}
.golden{
    background-color: #806800;
    height: 120px;
    width: 120px;
    border: 2px solid white;
}
.lavender{
    background-color: #CD94E2;
    height: 400px;
    width: 12.5%;

}
.gray{
    background-color: #41474A;
    width: 12.5%;
    height: 500px ;
    position: absolute;
    right: 0; 
    /* bottom: 0; */
    
}
.green{
    background-color: #008541;
    height:100px ;
    width: 100%;

}
.LastDiv{
    display: flex;
    flex-direction: row;
}
